<!DOCTYPE html>
<html>
  <head>
    <title>Hello Friend!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Hello From Afar</h1>
    <p>Straight outta Compton crazy @Model.Noun named Ice Cube. From the gang called @Model.PluralNoun with attitudes When im called off i got a sawed off/Squeeze the trigger and bodies are hauled off. You too boy if ya @Model.Verb with me. Off yo @Model.BodyPartNoun that's how im going out. For the punk @Model.PluralNoun that's showing out. @Model.PluralNoun start to mumble. They wanna rumble. Mix 'em and cook 'em in a pot like gumbo. Goin off on a @Model.Noun like that. With a @Model.ThingNoun that's pointed at yo @Model.NoBodyPartNoun </p>
  </body>
  
</html>